:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --font-s: 1.2rem;
    --font-m: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    
}

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qrcode {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#qrcode img {
    width: 90%;
    height: 70%;
    border-radius: 25px;
}

#qrcode h2 {
    font-size: var(--font-m);
    font-weight: 700;
    color: var(--Dark-blue);
    text-align: center;
    margin-top: 20px;
}

#qrcode p {
    font-size: var(--font-s);
    font-weight: 400;
    color: var(--Grayish-blue);
    text-align: center;
    margin-top: 20px;
}

















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }